#headerTable {
     border: 1px solid black;
     width: 400px;
     margin-bottom: 20px
}

.parametersTable tbody td {
    border: 1px solid black;
}

.documentList tbody td {
    border: 1px solid black;
}