@import play.api.libs.json.Json
@import com.blackmorse.controlsystem.model.Document
@(documents: Seq[Document], charts: controllers.CharacteristicChart)

@main("Documents") {
    <script src='https://cdn.plot.ly/plotly-latest.min.js' ></script>
    Найденные документы:
    @common.documentList(documents)
    <br>
    Таблица со значениями:
    <table class="parametersTable">
        @for(documentChart <- charts.documentCharts) {
        <tr>
            <td rowspan="2">@documentChart.document.fileNameParameters.toString</td>
            @for(temperature <- documentChart.temperatures) {
            <td>@temperature</td>
            }
        </tr>
        <tr>
            @for(percent <- documentChart.percents) {
            <td>@percent</td>
            }
        </tr>
        }
    </table>
    <span id="data" pr="@Json.toJson(charts)"></span>
    <div id="plot" ></div>

    <script>
        var a = document.getElementById("data").getAttribute("pr")
        var charts = JSON.parse(a)

        <!--alert(charts)-->

        var traces = new Array(charts.documentCharts.length)

        for (i = 0 ; i < charts.documentCharts.length; i++) {
          var trace = {
            name: charts.documentCharts[i].document.number,
            x: charts.documentCharts[i].percents,
            y: charts.documentCharts[i].temperatures,
            type: 'scatter'
          }
          traces[i] = trace
        }

        var layout = {
          showlegend: true,
          yaxis: {
             // autorange: true,
             range: [200, 600],
             type: 'linear'
          },
	      legend: {
	        "orientation": "h"
	      }
	    };

       Plotly.newPlot('plot', traces, layout);

    </script>
} {
    <script src="@routes.Assets.versioned("react/documentList.js")" type="text/babel"></script>
}
    


