@import com.blackmorse.controlsystem.model.ControlKey
@(documents: Seq[com.blackmorse.controlsystem.model.Document],
        controlKeysMap: Map[Int, ControlKey], titleMessage: Option[String])



@main(s"Documents: ") {
    <table class="documents_compare">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            @for(document <- documents) {
                <th>@document.fileNameParameters.toString</th>
            }
        </tr>

        @for((number, controlKey) <- controlKeysMap.toSeq.sortBy(_._1)) {
        <tr>
            <td>@controlKey.code</td>
            <td class="name">@controlKey.name</td>
            @for(document <- documents) {
            <td class="value">@document.parameters.getOrElse(controlKey, "")</td>
            }
        </tr>
        }

    </table>
} {

}